.notes{
  margin-right: 32%;
  padding-top: 10%;
  padding-bottom: 6%;
}
.notes h1{
  font-size: 3.4vh;
  margin-top: 12%;
  margin-left: 6%;
}
.notes p{
  font-size: 2.6vh;
  line-height: 180%;
  position: relative;
  padding: 0;
}
table{
  font-size: 2.4vh;
  height: 100%;
  width: 720vh
}
.table1{
  margin-right: 18%;
  margin-left: 36%;
}
.table2{
  margin-right: 2%;
  margin-left: 36%;
}
caption{
  margin-left: 12%;
  font-weight: bold;
  font-size: 3vh;
}
thead{
  line-height: 120%;
}
th, td{
  text-align: center;
  margin: 0;
  border-bottom:1px solid ;
}
.t_end, td:last-child{
  border-bottom: 0 ;
}
.hol{
  writing-mode: horizontal-tb;
}
.copy{
  position: absolute;
  margin-top: 52%;
  left: 2%;
}
.copy b{
  font-size: 2.6vh;
}
